langchain==0.3.30
langchain-core==0.3.86
langchain-anthropic==0.3.22
langchain-voyageai==0.2.0
langchain-community==0.3.31
rank_bm25
langchain-text-splitters==0.3.11
langchain-chroma==0.2.6

voyageai>=0.3.7
python-dotenv
chromadb
unstructured==0.18.3
pytesseract
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
